<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="commentWindow.css" />
  </head>
  <body>
    <div class="comment-window">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="shadow"></div>
          <div class="coment-frame"></div>
          <p class="share-your-thought">Loved the story? Share your thoughts!</p>
          <div class="leave-a-comment">Leave a comment below</div>
          <div class="comment-input">
            <p class="lorem-ipsum-dolor">
              Lorem ipsum dolor sit amet consectetur. Ac purus dui ante suspendisse donec. Eu etiam odio sagittis
              adipiscing. Ornare mattis velit sit vehicula urna eu. Suspendisse pellentesque ultrices diam rutrum
              vestibulum mauris laoreet tincidunt suscipit. Nam egestas nunc nibh congue pharetra. Ut mattis viverra
              risus adipiscing quam. Nunc potenti at montes adipiscing porttitor aliquet. Natoque quis malesuada enim
              bibendum non id. Facilisis scelerisque lacus pretium bibendum ipsum adipiscing habitant. Mattis feugiat
              libero imperdiet porta sociis. Odio massa velit diam sit. Suspendisse lobortis pretium adipiscing
              praesent. Faucibus ut hac curabitur commodo commodo semper nisi tincidunt.<br />Tincidunt enim est et orci
              egestas tristique nunc sed. Eget nisl elit id nisi. Mi ultrices dictum diam interdum lectus et in tortor.
              Porta massa eget lorem nibh elit ipsum cras massa. Dignissim justo id ipsum morbi eu semper mauris
              dictumst. Sagittis risus a nibh pretium. Volutpat in aliquam justo odio purus. Platea neque volutpat
              tellus mauris. Lacus nisl cum hendrerit egestas vitae enim id odio nibh. Rhoncus magnis adipiscing cras
              aliquet dui neque. Scelerisque at morbi volutpat pellentesque quis etiam tincidunt at in. Maecenas tellus
              senectus mauris facilisi ornare viverra gravida. Lorem arcu mi purus diam scelerisque. Non magna interdum
              porttitor odio senectus nisi dolor blandit.<br />Elementum dictum interdum in vitae scelerisque. Quisque
              lacus at a massa. Pharetra commodo quam nam semper enim ut. Placerat lectus eleifend duis feugiat vitae
              adipiscing. Congue arcu congue ultricies dictum vitae et lobortis adipiscing odio. At a sed turpis mattis
              cursus malesuada fermentum. Mattis mi at ut nam volutpat lorem fusce arcu. Eget neque nam aliquam sapien
              nullam ullamcorper.<br />Odio rhoncus tempus pellentesque scelerisque. Egestas sit tristique cursus sit
              sollicitudin malesuada. In amet id nam scelerisque in. Eu est nulla aliquet eu justo eget posuere turpis
              auctor. Odio elit quis urna lorem. Pulvinar et faucibus libero lectus odio donec morbi tellus nec. Pretium
              tortor nisi volutpat sociis. Non tristique maecenas amet cras fermentum elit vitae urna facilisis. Lectus
              faucibus placerat porta interdum eleifend faucibus nec cras interdum. Ullamcorper tincidunt porta neque
              purus nunc. Lorem sed duis congue porttitor vestibulum viverra bibendum enim imperdiet.<br />Congue tortor
              suspendisse commodo lacus aliquet tempus quis nisi pharetra. Auctor eu sapien tincidunt ac vitae ante.
              Turpis neque magna bibendum vitae auctor lectus porta. Blandit placerat augue amet lorem diam dictumst.
              Pharetra tempus et ut id sodales. In volutpat vitae molestie sed dictum. Posuere tellus vestibulum ut
              vitae eget elit tellus. A dignissim tincidunt velit pretium. Sagittis est augue pharetra eu cursus.
              Volutpat molestie leo arcu sed nec velit feugiat. Dignissim quis arcu mi augue commodo tellus placerat. In
              aenean eget purus pharetra. Pellentesque arcu viverra pulvinar velit luctus sem massa diam viverra.
            </p>
          </div>
          <img class="comment" src="static/img/comment-2.png" />
          <img class="comment-2" src="static/img/comment-2.png" />
          <img class="comment-3" src="static/img/comment.png" />
          <img class="comment-4" src="static/img/comment.png" />
          <div class="star-rating">
            <div class="text-wrapper">Rate</div>
            <div class="frame">
                <div class="star"><img class="star-2" src="static/img/Star-Defult.png" /></div>
                <div class="star"><img class="star-2" src="static/img/Star-Defult.png" /></div>
                <div class="star"><img class="star-2" src="static/img/Star-Defult.png" /></div>
                <div class="star"><img class="star-2" src="static/img/Star-Defult.png" /></div>
                <div class="star"><img class="star-2" src="static/img/Star-Defult.png" /></div>
            </div>
          </div>
          <button class="submit-button"><div class="div">Submit</div></button>
        </div>
      </div>
    </div>
  </body>
</html>
