<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="background"></div>
            <div class="frame">
              <div class="text">Username</div>
              <div class="text-wrapper">Password</div>
              <div class="div">
                <div class="text-wrapper-2">Don’t have an account?</div>
                <div class="text-wrapper-3">Sign Up</div>
              </div>
              <div class="overlap-group-2">
                <div class="text-wrapper-4">InkFluence</div>
                <img class="noun-book" src="static/img/noun-book-100734-1.png" />
              </div>
              <div class="rectangle"></div>
              <div class="rectangle-2"></div>
              <div class="div-wrapper"><div class="text-wrapper-5">Log In</div></div>
            </div>
          </div>
          <div class="naviation-split">
            <div class="links">
              <div class="link">Home</div>
              <div class="link-2">Popular</div>
              <div class="link-3">Categories</div>
            </div>
            <div class="logo">INKFLUENCE</div>
            <div class="button-primary">
              <div class="overlap-group-3">
                <div class="background-2"></div>
                <div class="background-3"></div>
                <div class="text-2">Profile</div>
                <img class="noun-story" src="/static/img/noun-story-6248478-1.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
