<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <div class="sign-up-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="shadow"></div>
            <div class="sign-up-frame">
              <div class="div">
                <div class="text-wrapper">Sign in</div>
                <div class="text-wrapper-2">Already have an account?</div>
              </div>
              <button class="sign-up-button"><div class="text-wrapper-3">Sign Up</div></button>
              <div class="overlap-2">
                <div class="div-2"></div>
                <div class="text-wrapper-4">Re-enter Password</div>
              </div>
              <div class="overlap-3">
                <div class="div-2"></div>
                <div class="text-wrapper-4">Password</div>
              </div>
              <div class="overlap-4">
                <div class="div-2"></div>
                <div class="text-wrapper-4">Email</div>
              </div>
              <div class="overlap-5">
                <div class="div-2"></div>
                <div class="text-wrapper-4">Username</div>
              </div>
              <div class="overlap-6">
                <div class="text-wrapper-5">InkFluence</div>
                <img class="logo" src="static/img/logo.png" />
              </div>
            </div>
          </div>
          <div class="naviation-bar">
            <div class="links">
              <div class="link">Home</div>
              <div class="link-2">Popular</div>
              <div class="link-3">Categories</div>
            </div>
            <div class="logo-2">INKFLUENCE</div>
            <div class="profile-button">
              <div class="overlap-group-2">
                <div class="background"></div>
                <div class="background-2"></div>
                <div class="text">Profile</div>
                <img class="profile" src="static/img/profile.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

