<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <div class="sign-up-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="shadow"></div>
            <div class="sign-up-frame">
              <div class="div">
                <div class="text-wrapper">Sign in</div>
                <div class="text-wrapper-2">Already have an account?</div>
              </div>
              <button class="sign-up-button"><div class="text-wrapper-3">Sign Up</div></button>
              <div class="password-wrapper">
                <div class="password"><div class="text-wrapper-4">Password</div></div>
              </div>
              <div class="password-2">Re-enter Password</div>
              <div class="div-wrapper">
                <div class="password"><div class="text-wrapper-4">Password</div></div>
              </div>
              <div class="text-wrapper-5">Password</div>
              <div class="email-wrapper"><input class="email" placeholder="Email" type="email" /></div>
              <div class="text-wrapper-6">Email</div>
              <div class="usename-wrapper">
                <div class="usename"><div class="text-wrapper-4">Username</div></div>
              </div>
              <div class="text-wrapper-7">Username</div>
              <div class="overlap-2">
                <div class="text-wrapper-8">InkFluence</div>
                <img class="logo" src="static/img/logo.png" />
              </div>
            </div>
          </div>
          <div class="naviation-bar">
            <div class="links"><div class="link">Home</div></div>
            <div class="logo-2">INKFLUENCE</div>
            <div class="overlap-3">
              <div class="background"></div>
              <button class="profile-button"><div class="text-wrapper-9">Profile</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>



