.author-view {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .author-view .overlap-wrapper {
    background-color: #e2e2e2;
    width: 1440px;
    height: 2686px;
  }
  
  .author-view .overlap {
    position: relative;
    height: 2686px;
  }
  
  .author-view .ink-fluence {
    position: absolute;
    width: 1440px;
    height: 412px;
    top: 2274px;
    left: 0;
    object-fit: cover;
  }
  
  .author-view .img {
    height: 1168px;
    top: 0;
    position: absolute;
    width: 1440px;
    left: 0;
    object-fit: cover;
  }
  
  .author-view .ink-fluence-2 {
    height: 1312px;
    top: 1067px;
    position: absolute;
    width: 1440px;
    left: 0;
    object-fit: cover;
  }
  
  .author-view .delete-button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 114px;
    height: 42px;
    top: 1860px;
    left: 1240px;
    background-color: #d10505;
    border-radius: 7.86px;
  }
  
  .author-view .text-wrapper {
    position: absolute;
    width: 94px;
    height: 18px;
    top: 10px;
    left: 10px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22.4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .author-view .chapter-frame {
    position: absolute;
    width: 281px;
    height: 731px;
    top: 548px;
    left: 22px;
    background-color: #00000080;
    border-radius: 30px;
    overflow: hidden;
    border: 8px solid;
    border-color: #b19ba8;
  }
  
  .author-view .chapter-chapter {
    position: absolute;
    width: 175px;
    top: 110px;
    left: 52px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
  }
  
  .author-view .overlap-group {
    position: absolute;
    width: 238px;
    height: 70px;
    top: 15px;
    left: 30px;
  }
  
  .author-view .div {
    position: absolute;
    width: 220px;
    top: 11px;
    left: 0;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .author-view .edit {
    position: absolute;
    width: 54px;
    height: 47px;
    top: 0;
    left: 184px;
  }
  
  .author-view .feedback-frame {
    position: absolute;
    width: 281px;
    height: 656px;
    top: 1328px;
    left: 19px;
    background-color: #00000080;
    border-radius: 30px;
    overflow: hidden;
    border: 8px solid;
    border-color: #b19ba8;
  }
  
  .author-view .text-wrapper-2 {
    position: absolute;
    width: 220px;
    top: 26px;
    left: 30px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
  }
  
  .author-view .overlap-2 {
    position: absolute;
    width: 235px;
    height: 244px;
    top: 181px;
    left: 23px;
  }
  
  .author-view .liked-what-you-read {
    position: absolute;
    width: 235px;
    top: 0;
    left: 0;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .author-view .big-button {
    position: absolute;
    width: 224px;
    height: 68px;
    top: 176px;
    left: 3px;
  }
  
  .author-view .overlap-group-2 {
    position: relative;
    width: 234px;
    height: 82px;
    top: -3px;
  }
  
  .author-view .background {
    position: absolute;
    width: 224px;
    height: 68px;
    top: 14px;
    left: 10px;
    background-color: #000000;
    border-radius: 7.86px;
  }
  
  .author-view .background-2 {
    position: absolute;
    width: 224px;
    height: 68px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 7.86px;
  }
  
  .author-view .text-wrapper-3 {
    position: absolute;
    width: 184px;
    height: 29px;
    top: 19px;
    left: 20px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #b19ba8;
    font-size: 22.4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .overlap-3 {
    position: absolute;
    width: 250px;
    height: 180px;
    top: 439px;
    left: 15px;
  }
  
  .author-view .p {
    position: absolute;
    width: 250px;
    height: 133px;
    top: 0;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22.4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .heart {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 129px;
    left: 98px;
  }
  
  .author-view .overlap-group-wrapper {
    left: 517px;
    position: absolute;
    width: 224px;
    height: 68px;
    top: 1888px;
  }
  
  .author-view .div-wrapper {
    all: unset;
    box-sizing: border-box;
    left: 972px;
    position: absolute;
    width: 224px;
    height: 68px;
    top: 1888px;
  }
  
  .author-view .story-info {
    width: 281px;
    height: 373px;
    left: 19px;
    background-color: #ffffffb2;
    position: absolute;
    top: 127px;
    border-radius: 30px;
    overflow: hidden;
    border: 8px solid;
    border-color: #b19ba8;
  }
  
  .author-view .star-rating {
    position: absolute;
    width: 186px;
    height: 36px;
    top: 310px;
    left: 47px;
  }
  
  .author-view .frame {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
  }
  
  .author-view .star {
    position: relative;
    width: 37.26px;
    height: 36.12px;
  }
  
  .author-view .star-2 {
    position: absolute;
    width: 32px;
    height: 30px;
    top: 2px;
    left: 3px;
  }
  
  .author-view .text-wrapper-4 {
    position: absolute;
    width: 220px;
    top: 232px;
    left: 30px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .author-view .overlap-4 {
    position: absolute;
    width: 238px;
    height: 211px;
    top: 15px;
    left: 30px;
  }
  
  .author-view .text-wrapper-5 {
    position: absolute;
    width: 214px;
    top: 157px;
    left: 3px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .author-view .text-wrapper-6 {
    position: absolute;
    width: 220px;
    top: 111px;
    left: 0;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .author-view .text-wrapper-7 {
    position: absolute;
    width: 214px;
    top: 58px;
    left: 3px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .author-view .text-wrapper-8 {
    position: absolute;
    width: 220px;
    top: 7px;
    left: 0;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .author-view .comments-frame {
    position: absolute;
    width: 1311px;
    height: 535px;
    top: 2060px;
    left: 65px;
    background-color: #ffffffb2;
    border-radius: 30px;
    overflow: hidden;
    border: 8px solid;
    border-color: #b19ba8;
  }
  
  .author-view .text-wrapper-9 {
    position: absolute;
    width: 220px;
    top: 20px;
    left: 543px;
    -webkit-text-stroke: 2px #000000;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .author-view .story-frame {
    width: 1076px;
    height: 1706px;
    left: 324px;
    background-color: #302f2f;
    overflow-y: scroll;
    position: absolute;
    top: 127px;
    border-radius: 30px;
    overflow: hidden;
    border: 8px solid;
    border-color: #b19ba8;
  }
  
  .author-view .story {
    position: absolute;
    width: 1006px;
    top: 250px;
    left: 35px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .title {
    position: absolute;
    width: 634px;
    top: 51px;
    left: 221px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .chapter {
    position: absolute;
    width: 380px;
    top: 166px;
    left: 348px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .author-view .edit-button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 114px;
    height: 42px;
    top: 36px;
    left: 913px;
    background-color: #ffffff;
    border-radius: 7.86px;
  }
  
  .author-view .text-wrapper-10 {
    position: absolute;
    width: 94px;
    height: 18px;
    top: 10px;
    left: 10px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #b19ba8;
    font-size: 22.4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .author-view .naviation-bar {
    position: absolute;
    width: 1440px;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #b19ba8;
  }
  
  .author-view .links {
    position: absolute;
    width: 266px;
    height: 22px;
    top: 21px;
    left: 40px;
  }
  
  .author-view .link {
    position: absolute;
    height: 22px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .link-2 {
    left: 80px;
    position: absolute;
    height: 22px;
    top: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .link-3 {
    left: 173px;
    position: absolute;
    height: 22px;
    top: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .logo {
    position: absolute;
    top: 15px;
    left: 655px;
    font-family: "Yusei Magic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .profile-button {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 12px;
    left: 1260px;
  }
  
  .author-view .overlap-group-3 {
    position: relative;
    width: 146px;
    height: 48px;
    top: -2px;
  }
  
  .author-view .background-3 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 8px;
    left: 6px;
    background-color: #000000;
    border-radius: 5px;
  }
  
  .author-view .background-4 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .author-view .text {
    position: absolute;
    width: 91px;
    height: 17px;
    top: 13px;
    left: 35px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #b19ba8;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .author-view .profile {
    position: absolute;
    width: 43px;
    height: 36px;
    top: 2px;
    left: 10px;
  }
  