<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="storySubmission.css" />
  </head>
  <body>
    <div class="submission-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="inkfluence" src="static/img/inkFluence.png" />
          <img class="img" src="static/img/inkFluence.png" />
          <div class="shadow"></div>
          <div class="submission-frame">
            <img class="pen" src="static/img/pen.png" />
            <img class="pen-2" src="static/img/pen-2.png" />
            <button class="submit-button"><div class="text-wrapper">Submit</div></button>
            <div class="story-submission">
              <div class="submission"><div class="submission-input">Story</div></div>
            </div>
            <div class="div">Your Story</div>
            <div class="story-summary-frame">
              <div class="summary"><div class="summary-input">Summary</div></div>
            </div>
            <div class="story-summary">Story summary (50 words)</div>
            <div class="overlap-group">
              <div class="div-wrapper"><div class="text-wrapper-2">#Tags, #Story,</div></div>
            </div>
            <div class="text-wrapper-3">Genre Tags</div>
            <div class="title-wrapper">
              <div class="div-wrapper"><div class="text-wrapper-2">Tittle</div></div>
            </div>
            <div class="your-tile">Your Title</div>
            <div class="overlap-2">
              <div class="share-your-story">Share Your Story!</div>
              <div class="text-wrapper-4">Share Your Story!</div>
            </div>
          </div>
          <div class="naviation-bar">
            <div class="links"><div class="link">Home</div></div>
            <div class="logo">INKFLUENCE</div>
            <div class="overlap-3">
              <div class="background"></div>
              <button class="profile-button"><div class="text-wrapper-5">Profile</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
