<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="storySubmission.css" />
  </head>
  <body>
    <div class="submission-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="shadow"></div>
            <div class="submission-frame">
              <img class="pen" src="static/img/pen.png" />
              <img class="img" src="static/img/pen-2.png" />
              <button class="submit-button"><div class="text-wrapper">Submit</div></button>
              <div class="story-submission">
                <p class="lorem-ipsum-dolor">
                  Lorem ipsum dolor sit amet consectetur. Egestas sapien amet vestibulum nam eget ultrices mauris. At
                  turpis ullamcorper aliquet aenean enim pellentesque et pellentesque. Aliquam faucibus nisi sem odio.
                  Purus rhoncus est metus etiam sagittis mi id risus.<br />Viverra lectus eget maecenas vivamus sit. Sem
                  metus nisi velit commodo eget tempor dolor dapibus facilisis. Nunc faucibus suspendisse orci imperdiet
                  facilisis sed. Elit parturient nunc blandit etiam id tristique facilisis. Elementum fringilla tempor
                  blandit imperdiet pellentesque quis purus placerat. Vitae nisl nibh tellus ut diam. Elit pellentesque
                  quis risus et leo nisl nisl leo amet. Scelerisque eu feugiat nam amet cursus volutpat nunc. Pretium
                  nunc lorem nunc et nisl egestas.<br />Porttitor tristique pulvinar urna accumsan blandit in nunc dolor
                  diam. Placerat placerat ipsum egestas metus non in sit magnis. Ullamcorper posuere potenti tellus sit
                  purus. Augue libero quis natoque cursus elit a posuere. Etiam nibh at dui pellentesque. Justo sagittis
                  massa augue in massa. Nisi elit sit euismod ipsum ut accumsan. Pellentesque facilisis elementum mauris
                  urna tempus ultricies. Ut quis ultrices ut morbi eu donec ultrices. Sit ac ultricies a rhoncus
                  pulvinar.<br />Tristique amet sit nullam montes ut tincidunt. Magna at tellus rutrum mi sit ac sit et.
                  Gravida in risus consequat amet mi. Lacus aliquet curabitur sagittis nec tellus risus fringilla magna
                  neque. Aliquet aliquet elit nisl fermentum viverra. Enim facilisis in in hendrerit sodales felis
                  tortor morbi. Fames cursus purus nisi facilisi donec accumsan nisi. Aliquam quis tellus mattis egestas
                  cras. Eleifend proin elementum nulla ut id dignissim. Tellus neque et vitae nascetur. Parturient
                  tellus ut dolor sit ut.<br />Praesent at a proin quisque amet viverra imperdiet amet volutpat. Amet
                  dignissim dignissim faucibus consectetur tellus. Sapien eget sagittis a sed quisque magna. Elit eu
                  ipsum in velit lectus. Feugiat enim fames risus tortor amet elit purus quam. Odio nulla nunc in
                  convallis purus mauris eu tristique. Vel mauris sodales id nunc nulla tellus tellus sed vel. Mattis
                  nulla turpis gravida tincidunt. Enim pellentesque interdum in blandit posuere elit semper. Volutpat
                  morbi erat et lorem facilisi faucibus ut. Dui egestas mi integer egestas enim. Pharetra lectus quis
                  sem facilisi euismod at elementum. Proin mauris morbi quis adipiscing.<br />Arcu justo iaculis auctor
                  aenean. Odio pretium ac aliquam risus vitae sodales non. Pellentesque nisl in ante pellentesque nunc
                  arcu. Nulla nibh gravida urna habitasse morbi ultricies elit consequat pellentesque. Tincidunt
                  imperdiet nibh tempus at vel habitasse scelerisque vel.<br />Curabitur vel cursus velit eros eu. Duis
                  diam justo leo dolor lectus. Magna molestie massa tellus et tortor orci nisl pellentesque sapien. Ut
                  quisque arcu dapibus fringilla egestas. Ac leo viverra ultrices maecenas lectus nibh viverra. Sagittis
                  turpis lacus est adipiscing facilisis. Sed eu curabitur nunc scelerisque nec tincidunt sed. Nec
                  elementum eget quisque vitae. Egestas ac semper facilisis ornare.<br />Leo pulvinar feugiat eu sem
                  dignissim faucibus eget ullamcorper rhoncus. Nunc sed in quam eu donec tortor nec. Aliquet lacus
                  vestibulum tincidunt ullamcorper viverra aliquam imperdiet. Eget nunc ut faucibus neque risus at
                  tortor ullamcorper id. Et tortor pharetra tellus sed netus et nulla proin posuere. Nibh consequat
                  tincidunt faucibus magna rhoncus. Quam ac venenatis augue arcu fringilla suspendisse sed. Lectus nibh
                  nullam tellus nam nisl. Lectus amet congue sapien egestas. Ullamcorper lacus amet dolor tortor massa.
                  Pharetra sed scelerisque odio integer netus etiam amet consectetur blandit.
                </p>
              </div>
              <div class="div">Your Story</div>
              <div class="story-summary-frame">
                <p class="story-summary-input">
                  Lorem ipsum dolor sit amet consectetur. A sed pharetra pretium cursus quam fermentum. Turpis feugiat
                  aliquet egestas morbi fringilla quam justo lorem nec. Elementum at fringilla sed mi elementum. Aliquam
                  posuere curabitur sit mauris ac at diam egestas. Ut amet facilisis tortor morbi. Lacus neque id eget
                  id posuere sit aliquet nec.
                </p>
              </div>
              <div class="story-summary">Story summary (50 words)</div>
              <div class="genre-tags-input"></div>
              <div class="text-wrapper-2">Genre Tags</div>
              <div class="tile-input"></div>
              <div class="your-tile">Your Title</div>
              <div class="overlap-group-2">
                <div class="share-your-story">Share Your Story!</div>
                <div class="text-wrapper-3">Share Your Story!</div>
              </div>
            </div>
          </div>
          <div class="naviation-bar">
            <div class="links">
              <div class="link">Home</div>
              <div class="link-2">Popular</div>
              <div class="link-3">Categories</div>
            </div>
            <div class="logo">INKFLUENCE</div>
            <div class="profile-button">
              <div class="overlap-group-3">
                <div class="background"></div>
                <div class="background-2"></div>
                <div class="text">Profile</div>
                <img class="profile" src="static/img/profile.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
