.desktop {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-wrapper {
    background-color: #e2e2e2;
    width: 1440px;
    height: 1024px;
  }
  
  .desktop .overlap {
    position: relative;
    height: 1024px;
    background-image: url(./static/img/.SubmissionBackground.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 1290px;
    height: 895px;
    top: 107px;
    left: 85px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 1270px;
    height: 871px;
    top: 24px;
    left: 20px;
    background-color: #302f2f;
    border-radius: 80px;
  }
  
  .desktop .frame {
    width: 1270px;
    height: 874px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 80px;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .desktop .div {
    position: absolute;
    width: 1490px;
    height: 1305px;
    top: -111px;
    left: -51px;
  }
  
  .desktop .submissionbackground {
    position: absolute;
    width: 1490px;
    height: 1050px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .lorem-ipsum-dolor-wrapper {
    width: 1175px;
    height: 387px;
    top: 918px;
    left: 96px;
    background-color: #d9d9d9;
    border-radius: 100.83px;
    border: 3px solid;
    border-color: #000000;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .desktop .lorem-ipsum-dolor {
    position: absolute;
    width: 1033px;
    top: 18px;
    left: 72px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
  }
  
  .desktop .text {
    position: absolute;
    width: 511px;
    top: 862px;
    left: 430px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000080;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
    white-space: nowrap;
  }
  
  .desktop .div-wrapper {
    width: 1175px;
    height: 252px;
    top: 598px;
    left: 99px;
    background-color: #d9d9d9;
    border-radius: 100.83px;
    border: 3px solid;
    border-color: #000000;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .desktop .text-wrapper {
    width: 511px;
    top: 543px;
    left: 431px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000080;
    font-size: 30px;
    line-height: 59.1px;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
  }
  
  .desktop .rectangle-2 {
    position: absolute;
    width: 1181px;
    height: 63px;
    top: 465px;
    left: 95px;
    background-color: #d9d9d9;
    border-radius: 100.83px;
    border: 3px solid;
    border-color: #000000;
  }
  
  .desktop .text-2 {
    width: 511px;
    top: 413px;
    left: 430px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000080;
    font-size: 30px;
    line-height: 59.1px;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
  }
  
  .desktop .rectangle-3 {
    position: absolute;
    width: 1181px;
    height: 63px;
    top: 338px;
    left: 95px;
    background-color: #d9d9d9;
    border-radius: 100.83px;
    border: 3px solid;
    border-color: #000000;
  }
  
  .desktop .text-3 {
    width: 511px;
    top: 286px;
    left: 430px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000080;
    font-size: 30px;
    line-height: 59.1px;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 934px;
    top: 185px;
    left: 242px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #00000080;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    width: 934px;
    top: 165px;
    left: 230px;
    -webkit-text-stroke: 5px #000000;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0;
    line-height: 59.1px;
  }
  
  .desktop .noun-fountain-pen {
    position: absolute;
    width: 85px;
    height: 71px;
    top: 1230px;
    left: 834px;
  }
  
  .desktop .img {
    position: absolute;
    width: 67px;
    height: 84px;
    top: 1233px;
    left: 347px;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 391px;
    height: 71px;
    top: 1217px;
    left: 439px;
    background-color: #000000;
    border-radius: 48.88px;
    border: 5px solid;
    border-color: #b19ba8;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    width: 310px;
    height: 28px;
    top: 15px;
    left: 37px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #b19ba8;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .naviation-split {
    position: absolute;
    width: 1440px;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #b19ba8;
  }
  
  .desktop .links {
    position: absolute;
    width: 266px;
    height: 22px;
    top: 21px;
    left: 40px;
  }
  
  .desktop .link {
    position: absolute;
    height: 22px;
    top: 0;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .link-2 {
    left: 80px;
    position: absolute;
    height: 22px;
    top: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .link-3 {
    left: 173px;
    position: absolute;
    height: 22px;
    top: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .logo {
    position: absolute;
    top: 15px;
    left: 655px;
    font-family: "Yusei Magic-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .button-primary {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 12px;
    left: 1260px;
  }
  
  .desktop .overlap-group-2 {
    position: relative;
    width: 146px;
    height: 48px;
    top: -2px;
  }
  
  .desktop .background {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 8px;
    left: 6px;
    background-color: #000000;
    border-radius: 5px;
  }
  
  .desktop .background-2 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .desktop .text-4 {
    width: 91px;
    height: 17px;
    top: 13px;
    left: 35px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #b19ba8;
    font-size: 14px;
    line-height: normal;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
  }
  
  .desktop .noun-story {
    position: absolute;
    width: 43px;
    height: 36px;
    top: 2px;
    left: 10px;
  }
  