.login-page {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .overlap-wrapper {
  background-color: #e2e2e2;
  width: 1440px;
  height: 1024px;
}

.login-page .overlap {
  position: relative;
  height: 1024px;
  background-image: url(./inkfluence/img/inkFluence.png);
  background-size: cover;
  background-position: 50% 50%;
}

.login-page .overlap-group {
  position: absolute;
  width: 415px;
  height: 627px;
  top: 224px;
  left: 524px;
}

.login-page .background {
  position: absolute;
  width: 392px;
  height: 609px;
  top: 18px;
  left: 23px;
  background-color: #2f2f2f;
  border-radius: 43.51px;
  border: 1.45px solid;
  border-color: #302f2f;
}

.login-page .login-frame {
  position: absolute;
  width: 392px;
  height: 609px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 43.51px;
  overflow: hidden;
}

.login-page .login-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 229px;
  height: 57px;
  top: 458px;
  left: 82px;
  border-radius: 28.63px;
  border: 1.43px solid;
  border-color: #000000;
}

.login-page .text-wrapper {
  position: absolute;
  width: 221px;
  height: 29px;
  top: 11px;
  left: 3px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .div {
  position: absolute;
  width: 281px;
  height: 77px;
  top: 522px;
  left: 58px;
}

.login-page .text-wrapper-2 {
  position: absolute;
  width: 281px;
  height: 46px;
  top: 30px;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 34.8px;
}

.login-page .text-wrapper-3 {
  position: absolute;
  width: 281px;
  height: 46px;
  top: 0;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 34.8px;
}

.login-page .search-wrapper {
  position: absolute;
  width: 233px;
  height: 53px;
  top: 367px;
  left: 80px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.login-page .search {
  display: flex;
  width: 180px;
  align-items: center;
  position: relative;
  top: 13px;
  left: 26px;
}

.login-page .password-wrapper {
  position: relative;
  width: 180px;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .text-wrapper-4 {
  position: absolute;
  width: 283px;
  top: 325px;
  left: 57px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 49.3px;
  white-space: nowrap;
}

.login-page .username-wrapper {
  position: absolute;
  width: 233px;
  height: 53px;
  top: 252px;
  left: 80px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.login-page .input {
  width: 185px;
  position: relative;
  top: 14px;
  left: 24px;
  border: none;
  background: none;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
}

.login-page .text-wrapper-5 {
  position: absolute;
  width: 283px;
  top: 207px;
  left: 57px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 49.3px;
  white-space: nowrap;
}

.login-page .overlap-2 {
  position: absolute;
  width: 148px;
  height: 155px;
  top: 22px;
  left: 122px;
}

.login-page .text-wrapper-6 {
  position: absolute;
  height: 42px;
  top: 113px;
  left: 2px;
  font-family: "Yusei Magic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .logo {
  position: absolute;
  width: 148px;
  height: 118px;
  top: 0;
  left: 0;
}

.login-page .naviation-bar {
  position: absolute;
  width: 1440px;
  height: 64px;
  top: 0;
  left: 0;
  background-color: #b19ba8;
}

.login-page .links {
  position: absolute;
  width: 51px;
  height: 22px;
  top: 21px;
  left: 40px;
}

.login-page .link2 {
  width: 58px;
  left: 110px;
  position: absolute;
  height: 22px;
  top: 21px;
}

.login-page .link3 {
  width: px;
  left: 190px;
  position: absolute;
  height: 22px;
  top: 21px;
}

.login-page .link {
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .logo-2 {
  position: absolute;
  top: 15px;
  left: 655px;
  font-family: "Yusei Magic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .overlap-3 {
  position: absolute;
  width: 146px;
  height: 48px;
  top: 10px;
  left: 1260px;
}

.login-page .background-2 {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 8px;
  left: 6px;
  background-color: #000000;
  border-radius: 5px;
} 

.login-page .background-3 {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 8px;
  left: -156px;
  background-color: #000000;
  border-radius: 5px;
}

.login-page .profile-button {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 0;
  left: -160px;
  background-color: #ffffff;
  border-radius: 5px;
}

.login-page .logout-button {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.login-page .text-wrapper-8 {
  position: absolute;
  width: 107px;
  height: 25px;
  top: 8px;
  left: 17px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #b19ba8;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.3px;
}

.logout-button:active,
.login-button:active {
  background-color: #d9d9d9;
}