.profile-author {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-author .overlap-wrapper {
  background-color: #e2e2e2;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
}

.profile-author .overlap {
  position: relative;
  width: 1493px;
  height: 1036px;
  left: -26px;
}

.profile-author .ink-fluence {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 0;
  left: 26px;
}

.profile-author .frame {
  position: absolute;
  width: 1493px;
  height: 652px;
  top: 384px;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 2px;
  border: 3px solid;
  border-color: #b19ba8;
}

.profile-author .written-works {
  position: absolute;
  width: 550px;
  height: 404px;
  top: 570px;
  left: 795px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.profile-author .text-wrapper {
  position: absolute;
  width: 233px;
  top: 23px;
  left: 33px;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #b19ba8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-author .about {
  position: absolute;
  width: 550px;
  height: 404px;
  top: 570px;
  left: 146px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.profile-author .text-wrapper-3 {
  position: absolute;
  top: 30px;
  left: 33px;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #b19ba8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-author .text-wrapper-4 {
  position: absolute;
  width: 74px;
  top: 120px;
  left: 33px;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #b19ba8;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-author .text-wrapper-8 {
  position: absolute;
  width: 500px;
  top: 70px;
  left: 33px;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-author .text-wrapper-9 {
  position: absolute;
  width: 500px;
  top: 160px;
  left: 33px;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-author .profile-picture {
  position: absolute;
  width: 288px;
  height: 288px;
  top: 240px;
  left: 602px;
  background-color: #b9b9b9;
  border-radius: 30px;
  border: 3px solid;
  border-color: #b19ba8;
}

.profile-author .edit-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 82px;
  height: 31px;
  top: 91px;
  left: 1315px;
  background-color: #ffffff;
  border-radius: 5px;
}

.profile-author .text-wrapper-6 {
  position: absolute;
  width: 49px;
  height: 19px;
  top: 7px;
  left: 17px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #b19ba8;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.9px;
}

.profile-author .naviation-bar {
  position: absolute;
  width: 1440px;
  height: 64px;
  top: 0;
  left: 26px;
  background-color: #b19ba8;
}

.profile-author .links {
  position: absolute;
  width: 51px;
  height: 22px;
  top: 21px;
  left: 40px;
}

.profile-author .link2 {
  width: 58px;
  left: 110px;
  position: absolute;
  height: 22px;
  top: 21px;
}

.profile-author .link3 {
  width: px;
  left: 190px;
  position: absolute;
  height: 22px;
  top: 21px;
}

.profile-author .link {
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-author .logo {
  position: absolute;
  top: 15px;
  left: 655px;
  font-family: "Yusei Magic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile-author .overlap-group {
  position: absolute;
  width: 146px;
  height: 48px;
  top: 10px;
  left: 1260px;
}

.profile-author .background {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 8px;
  left: 6px;
  background-color: #000000;
  border-radius: 5px;
} 

.profile-author .background-3 {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 8px;
  left: -156px;
  background-color: #000000;
  border-radius: 5px;
}

.profile-author .profile-button {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 0;
  left: -160px;
  background-color: #ffffff;
  border-radius: 5px;
}

.profile-author .logout-button {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.logout-button:active {
  background-color: #d9d9d9;
}


.profile-author .text-wrapper-7 {
  position: absolute;
  width: 107px;
  height: 25px;
  top: 8px;
  left: 17px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #b19ba8;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.3px;
}

.profile-author .text-wrapper,
.profile-author .text-wrapper-2,
.profile-author .text-wrapper-3,
.profile-author .text-wrapper-4,
.profile-author .text-wrapper-5,
.profile-author .text-wrapper-6,
.profile-author .text-wrapper-7,
.profile-author .text-wrapper-8,
.profile-author .text-wrapper-9,
.profile-author .text-wrapper-10 {
  text-align: center;
  left: 50%; /* Set left position to center align */
  transform: translateX(-50%); /* Translate back half of the element's width to center it */
}