.search-page {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-page .overlap-wrapper {
  background-color: #e2e2e2;
  width: 1440px;
  height: 1111px;
}

.search-page .overlap {
  position: relative;
  height: 1111px;
  background-image: url(./inkfluence/img/ink-fluence.png);
  background-size: cover;
  background-position: 50% 50%;
}

.search-page .overlap-group {
  position: absolute;
  width: 1119px;
  height: 820px;
  top: 215px;
  left: 160px;
}

.search-page .genre-shadow {
  position: absolute;
  width: 1104px;
  height: 793px;
  top: 27px;
  left: 15px;
  background-color: #00000080;
  border-radius: 20px;
  border: 1px solid;
  border-color: #0000001a;
}

.search-page .results-frame {
  position: absolute;
  width: 1104px;
  height: 793px;
  top: 0;
  left: 0;
  background-color: #b19ba8;
  border-radius: 20px;
  border: 1px solid;
  border-color: #0000001a;
}

.search-page .div {
  position: absolute;
  width: 1052px;
  height: 68px;
  top: 129px;
  left: 197px;
}

.search-page .search-bar-shadow {
  position: absolute;
  width: 1047px;
  height: 60px;
  top: 8px;
  left: 15px;
  background-color: #00000080;
  border-radius: 32px;
  box-shadow: var(--shadow-3);
}

.search-page .search-bar {
  display: flex;
  width: 1047px;
  height: 60px;
  align-items: center;
  gap: 6px;
  padding: 0px 8px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: var(--shadow-3);
}

.search-page .form-inline {
  display: flex;
  align-items: center;
  width: 1047px;
}

.search-page .form-group {
  flex-grow: 1;
  margin-right: 10px; /* Adjust the margin between input and button */
  justify-content: center;
}

.search-page .form-control {
  width: 95%; /* Take up all available space */
  height: 35px;
  font-size: 20px;
  margin-left: 20px;
  border: none;
}

.search-page .form-control::placeholder {
  font-size: 20px; /* Adjust the font size as needed */
}

.search-page .btn {
  margin-top: 10px;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.search-page .button-container {
  margin-left: 20px; /* Adjust as needed */
  margin-bottom: 10px;
}

.title-container {
  background-color: #ffffff; /* Set background color to white */
  border: 1px solid #000000; /* Add a black border */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 0; /* Add padding around the container */
  font-family: "Roboto-Regular", Helvetica;
  text-align: center; /* Center the text */
  color: grey;
  margin: 10px;
  margin-bottom: 20px; /* Add some space below the title */
  margin-right: 400px;
  margin-left: 400px;
}

.results-container {
  /* Set background color to white */
  border: 1px; /* Add a black border */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 20px; /* Add padding to the container */
  font-family: "Roboto-Regular", Helvetica;

  max-height: 593px; /* Set maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
  margin: 10px;
}

.list-group-item-heading a {
  color: #b19ba8; /* Change the color to your desired color */
  text-decoration: underline; /* Add underline effect */
}

.list-group-item-heading a:hover {
  color: grey; /* Change the color on hover */
}

.list-group-item {
  margin-bottom: 20px; /* Add bottom margin to separate each result */
  padding: 20px; /* Add padding around each result */
  background-color: white; /* Set background color to white */
  border-radius: 10px; /* Add border radius for rounded corners */
  border: 1px solid #ccc; /* Add border to create the white frame */
}

.search-page .img {
  position: relative;
  width: 40px;
  height: 44px;
  object-fit: cover;
}

.search-page .search {
  position: relative;
  flex-grow: 1;
  border: none;
  background: none;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
}

.search-page .naviation-bar {
  position: absolute;
  width: 1440px;
  height: 64px;
  top: 0;
  left: 0;
  background-color: #b19ba8;
}

.search-page .links {
  position: absolute;
  width: 51px;
  height: 22px;
  top: 21px;
  left: 40px;
}

.search-page .link2 {
  width: 58px;
  left: 110px;
  position: absolute;
  height: 22px;
  top: 21px;
}

.search-page .link3 {
  width: px;
  left: 1156px;
  position: absolute;
  height: 22px;
  top: 21px;
}

.search-page .link {
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.search-page .logo {
  position: absolute;
  top: 15px;
  left: 655px;
  font-family: "Yusei Magic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.search-page .overlap-group-2 {
  position: absolute;
  width: 146px;
  height: 48px;
  top: 10px;
  left: 1260px;
}

.search-page .background {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 8px;
  left: 6px;
  background-color: #000000;
  border-radius: 5px;
}

.search-page .profile-button {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.search-page .text-wrapper {
  position: absolute;
  width: 107px;
  height: 25px;
  top: 8px;
  left: 17px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #b19ba8;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.3px;
}