<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/homePage.css' %}" />
  </head>
  <body>
    <div class="home-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="inkfluence" src="{% static 'inkfluence/img/inkFluence.png' %}" />
          <img class="img" src="{% static 'inkfluence/img/inkFluence.png' %}" />
          <img class="inkfluence-2" src="{% static 'inkfluence/img/inkFluence.png' %}" />
          <div class="genre-frame">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre"><div class="text-wrapper">{{ genre_list.7 }}</div></div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre"><div class="text-wrapper">{{ genre_list.6 }}</div></div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre"><div class="text-wrapper">{{ genre_list.5 }}</div></div>
            </div>
          </div>
          <div class="div">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre"><div class="text-wrapper">{{ genre_list.4 }}</div></div>
            </div>
          </div>
          <div class="genre-frame-2">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre-2"><div class="text-wrapper-2">{{ genre_list.3 }}</div></div>
            </div>
          </div>
          <div class="genre-frame-3">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre-2"><div class="text-wrapper-2">{{ genre_list.2 }}</div></div>
            </div>
          </div>
          <div class="genre-frame-4">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre-2"><div class="text-wrapper-2">{{ genre_list.1 }}</div></div>
            </div>
          </div>
          <div class="genre-frame-5">
            <div class="overlap-group">
              <div class="genre-shadow"></div>
              <div class="genre-2"><div class="text-wrapper-2">{{ genre_list.0 }}</div></div>
            </div>
          </div>
          <div class="genres-shadow">Genres</div>
          <div class="text-wrapper-3">Genres</div>
          <div class="recently-released"></div>
          <div class="recently-released-2">
            <div class="overlap-2">
              <div class="text-wrapper-4">{{ latest_stories.0.get_genre_display }}</div>
              <div class="text-wrapper-5">Genre</div>
              <img class="historical" src="{% static 'inkfluence/img/historical.png' %}" />
            </div>
            <div class="author">By {{ latest_stories.0.author.user.username }}</div>
            <div class="title">
              <a href="{% url 'story' %}?title={{ latest_stories.0.title|urlencode }}">{{ latest_stories.0.title }}</a>
            </div>
          </div>
          <div class="recently-released-3"></div>
          <div class="recently-released-4">
            <div class="overlap-3">
              <img class="sci-fi" src="{% static 'inkfluence/img/sci-fi.png' %}" />
              <div class="text-wrapper-6">{{ latest_stories.1.get_genre_display }}</div>
              <div class="text-wrapper-7">Genre</div>
              <div class="author-2">By {{ latest_stories.1.author.user.username }}</div>
            </div>
            <div class="title">
              <a href="{% url 'story' %}?title={{ latest_stories.1.title|urlencode }}">{{ latest_stories.1.title }}</a>
            </div>
          </div>
          <div class="recently-released-5"></div>
          <div class="recently-released-6">
            <div class="overlap-4">
              <div class="text-wrapper-8">{{ latest_stories.2.get_genre_display }}</div>
              <div class="text-wrapper-9">Genre</div>
              <img class="horror" src="{% static 'inkfluence/img/horror.png' %}" />
            </div>
            <div class="author">By {{ latest_stories.2.author.user.username }}</div>
            <div class="title">
              <a href="{% url 'story' %}?title={{ latest_stories.2.title|urlencode }}">{{ latest_stories.2.title }}</a>
            </div>
          </div>
          <div class="recently-released-7">Recently Released</div>
          <div class="text-wrapper-10">Recently Released</div>
          <div class="most-popular-shadow"></div>
          <div class="most-popular-frame">
            <p class="summary-text">
              {{ top_story.description }}
            </p>
            <div class="overlap-5">
              <div class="div-2"></div>
              <div class="div-wrapper-2"><div class="text-wrapper-11">{{ top_story.get_genre_display }}</div></div>
            </div>
            <div class="overlap-6">
              <div class="summary-shadow"></div>
              <div class="summary"><div class="text-wrapper-12">Summary</div></div>
            </div>
            <div class="overlap-7">
              <div class="div-2"></div>
              <div class="div-wrapper-2"><div class="text-wrapper-11">By {{ top_story.author.user.username }}</div></div>
            </div>
            <div class="text-wrapper-13">
              <a href="{% url 'story' %}?title={{ top_story.title|urlencode }}">{{ top_story.title }}</a>
            </div>
          </div>
          <div class="most-popular-shadow-2">Most Popular</div>
          <div class="text-wrapper-14">Most Popular</div>
          <div class="naviation-bar">
            <div class="links"><a href="/inkfluence/home/" div class="link">Home</a></div>
            <div class="link2"><a href="/inkfluence/search/" div class="link">Search</a></div>
            <div class="link3"><a href="/inkfluence/submit/" class="link">Submit</a></div>
            <div class="logo">INKFLUENCE</div>
            <div class="overlap-8">
              <div class="background"></div>
              <button id="logoutBtn" class="logout-button">
                <a href="{% url 'logout' %}"><div class="text-wrapper-15">Logout</div></a>
              </button>
              <div class="background-3"></div>
              <button id="profBtn" class="profile-button"><div class="text-wrapper-15">Profile</div></button>
            </div>
          </div>
        </div>
      </div>
        </div>
    <script src="{% static 'inkfluence/js/navbar.js' %}"></script>
  </body>
</html>