<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/login.css' %}" />
  </head>
  <body>
    <div class="login-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="background"></div>
            <div class="login-frame">
              <button class="login-button"><div class="text-wrapper">Login</div></button>
              <div class="div">
                <div class="text-wrapper-2">Sign Up</div>
                <div class="text-wrapper-3">Don’t have an account?</div>
              </div>
              <div class="password-wrapper">
                <div class="div-wrapper"><div class="text-wrapper-4">Password</div></div>
              </div>
              <div class="text-wrapper-5">Password</div>
              <div class="username-wrapper">
                <div class="div-wrapper"><div class="text-wrapper-4">Username</div></div>
              </div>
              <div class="text-wrapper-6">Username</div>
              <div class="overlap-2">
                <div class="text-wrapper-7">InkFluence</div>
                <img class="logo" src="{% static 'inkfluence/img/logo.png' %}" />
              </div>
            </div>
          </div>
          <div class="naviation-bar">
            <div class="links"><div class="link">Home</div></div>
            <div class="logo-2">INKFLUENCE</div>
            <div class="overlap-3">
              <div class="background-2"></div>
              <button class="profile-button"><div class="text-wrapper-8">Profile</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
