<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/login.css' %}" />
  </head>
  <body>
    <div class="login-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="background"></div>
            <div class="login-frame">
              <form method="post" action="/inkfluence/login/">
                {% csrf_token %}
                <!-- 1111 need to opt it to make it beautiful -->
                {% if error %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
                {% endif %}
                <!-- 1111 need to opt it to make it beautiful -->
                <button class="login-button" id="loginBtn"><div class="text-wrapper">Login</div></button>
                <div class="div">
                  <a href="/inkfluence/signup/" class="text-wrapper-2">Sign Up</a>
                  <div class="text-wrapper-3">Don’t have an account?</div>
                </div>
                <div class="search-wrapper">
                  <div class="password-wrapper">
                    <input class="input" name="password" placeholder="Password" type="password" />
                  </div>
                </div>
                <div class="text-wrapper-4">Password</div>
                <div class="username-wrapper">
                  <input class="input" name="username" placeholder="Username" type="text" />
                </div>
                <div class="text-wrapper-5">Username</div>
                <div class="overlap-2">
                  <div class="text-wrapper-6">InkFluence</div>
                  <img class="logo" src="{% static 'inkfluence/img/logo.png' %}" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="naviation-bar">
        <div class="links">
          <a href="/inkfluence/home/" class="link">Home</a>
        </div>
        <div class="link2">
          <a href="/inkfluence/search/" class="link">Search</a>
        </div>
        <div class="link3">
          <a href="/inkfluence/submit/" class="link">Submit</a>
        </div>
        <div class="logo-2">INKFLUENCE</div>
        <div class="overlap-3">
          <div class="background-2"></div>
          <button id="logoutBtn" class="logout-button">
            <a href="{% url 'logout' %}"><div class="text-wrapper-8">Logout</div></a>
          </button>
          <div class="background-3"></div>
          <button id="profBtn" class="profile-button"><div class="text-wrapper-8">Profile</div></button>
        </div>
      </div>
    </div>
    <script src="{% static 'inkfluence/js/navbar.js' %}"></script>
  </body>
</html>

