<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/profileAuthor.css' %}" />
  </head>
  <body>
    <div class="profile-author">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="ink-fluence" src="{% static 'inkfluence/img/inkFluence.png' %}" />
          <div class="frame"></div>
          <div class="written-works">
            <div class="text-wrapper">Stories by this author</div>
            <p class="div">And so it begins... (Fantasy)</p>
          </div>
          <div class="favourite-stories">
            <div class="text-wrapper-2">Favourite Stories</div>
            <p class="dreaming-of-electric">
              Dreaming of Electric Sheep<br />by Shaun Thorn<br /><br />Pride and Pedicures<br />by Janet Austen
            </p>
          </div>
          <div class="about">
            <div class="bio"><div class="bio-input">Name</div></div>
            <div class="text-wrapper-3">Bio</div>
            <div class="name"><div class="name-input">Bio</div></div>
            <div class="text-wrapper-4">Name</div>
          </div>
          <div class="profile-picture"></div>
          <div class="star-rating">
            <div class="frame-2">
              <div class="star"><img class="img" src="{% static 'inkfluence/img/Star-active.png' %}" /></div>
              <div class="star"><img class="img" src="{% static 'inkfluence/img/Star-active.png' %}" /></div>
              <div class="star"><img class="img" src="{% static 'inkfluence/img/Star-active.png' %}" /></div>
              <div class="star"><img class="img" src="{% static 'inkfluence/img/Star-active.png' %}" /></div>
              <div class="star"><img class="img" src="{% static 'inkfluence/img/Star-active.png' %}" /></div>
            </div>
          </div>
          <div class="text-wrapper-5">Author Rating</div>
          <button class="edit-button"><div class="text-wrapper-6">Edit</div></button>
          <div class="naviation-bar">
            <div class="links"><div class="link">Home</div></div>
            <div class="logo">INKFLUENCE</div>
            <div class="overlap-group">
              <div class="background"></div>
              <button class="profile-button"><div class="text-wrapper-7">Profile</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>