<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/profileReader.css' %}" />
  </head>
  <body>
    <div class="profile-reader">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="ink-fluence" src="{% static 'inkfluence/img/inkFluence.png' %}" />
          <div class="frame"></div>
          <div class="favourite-genres">
            <div class="genres"><div class="genres-input">Genres</div></div>
            <div class="text-wrapper">Favourite Genres</div>
          </div>
          <div class="favourite-works">
            <div class="div">Favourite Stories</div>
            <p class="dreaming-of-electric">
              Dreaming of Electric Sheep<br />by Shaun Thorn<br /><br />Pride and Pedicures<br />by Janet Austen<br /><br />And
              So It Begins<br />by Jane Doe
            </p>
          </div>
          <div class="profile-picture"></div>
          <div class="about">
            <div class="bio"><div class="bio-input">Name</div></div>
            <div class="text-wrapper-2">Bio</div>
            <div class="name"><div class="name-input">Bio</div></div>
            <div class="text-wrapper-3">Name</div>
          </div>
          <div class="naviation-bar">
            <div class="links"><div class="link">Home</div></div>
            <div class="logo">INKFLUENCE</div>
            <div class="overlap-group">
              <div class="background"></div>
              <button class="profile-button"><div class="text-wrapper-4">Profile</div></div>
            </div>
          </div>
          <button class="edit-button"><div class="text-wrapper-5">Edit</div></button>
        </div>
      </div>
    </div>
  </body>
</html>
