<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/searchPage.css' %}" />
  </head>
  <body>
    <div class="search-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="genre-shadow"></div>
            <div class="most-popular-frame"></div>
          </div>
          <div class="div">
            <div class="search-bar-shadow"></div>
            <div class="search-bar">
              <img class="img" src="{% static 'inkfluence/img/search.png' %}" />
              <input class="search" placeholder="Search ..." type="text" />
              <img class="img" src="{% static 'inkfluence/img/filter.png' %}" />
            </div>
          </div>
          <div class="naviation-bar">
            <div class="links"><a href="/inkfluence/home/" div class="link">Home</a></div>
            <div class="link2"><a href="/inkfluence/search/" div class="link">Search</a></div>
            <div class="link3"><a href="/inkfluence/submit/" class="link">Submit</a></div>
            <div class="logo">INKFLUENCE</div>
            <div class="overlap-group-2">
              <div class="background"></div>
              <button class="profile-button"><div class="text-wrapper">Profile</div></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
