<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'inkfluence/css/signup.css' %}" />
  </head>
  <body>
    <div class="sign-up-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="shadow"></div>
            <div class="sign-up-frame">
              <div class="div">
                <a href="/inkfluence/" class="text-wrapper">Sign in</a>
                <div class="text-wrapper-2">Already have an account?</div>
              </div>
              <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <!--              1111 need to opt it to make it beatiful-->
                {% if error %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
                {% endif %}
                <!--              1111 need to opt it to make it beatiful-->
                <button class="sign-up-button"><div class="text-wrapper-3">Sign Up</div></button>
                <div class="author-button">
                  <label>
                    <input type="checkbox" name="is_author" value="author"> Author
                  </label>
                </div>
                <div class="reader-button">
                  <label>
                    <input type="checkbox" name="is_reader" value="reader"> Reader
                  </label>
                </div>
                <div class="role">Choose Your Role</div>
                <div class="password-wrapper"><input name="password" class="password" placeholder="Password" type="password" /></div>
                <div class="text-wrapper-5">Password</div>
                <div class="username-wrapper"><input name="username" class="username" placeholder="Username" type="text" /></div>
                <div class="text-wrapper-7">Username</div>
              </form>
              <div class="overlap-2">
                <div class="text-wrapper-8">InkFluence</div>
                <img class="logo" src="{% static 'inkfluence/img/logo.png' %}" />
              </div>
            </div>
          </div>
          <div class="naviation-bar">
            <div class="links"><a href="/inkfluence/home/" div class="link">Home</a></div>
            <div class="link2"><a href="/inkfluence/search/" div class="link">Search</a></div>
            <div class="link3"><a href="/inkfluence/submit/" class="link">Submit</a></div>
            <div class="logo-2">INKFLUENCE</div>
            <div class="overlap-3">
              <div class="background"></div>
              <button id="logoutBtn" class="logout-button">
                <a href="{% url 'logout' %}"><div class="text-wrapper-9">Logout</div></a>
              </button>
              <div class="background-3"></div>
              <button id="profBtn" class="profile-button"><div class="text-wrapper-9">Profile</div></button>
            </div>
          </div>
        </div>
      </div>
      </div>
    <script src="{% static 'inkfluence/js/navbar.js' %}"></script>
  </body>
</html>




