<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inkfluence/css/styleguide.css' %}"/>
    <link rel="stylesheet" href="{% static 'inkfluence/css/storySubmission.css' %}"/>
</head>
<body>
<div class="submission-page">
    <div class="overlap-wrapper">
        <div class="overlap">
            <img class="inkfluence" src="{% static 'inkfluence/img/inkFluence.png' %}"/>
            <img class="img" src="{% static 'inkfluence/img/inkFluence.png' %}"/>
            <div class="shadow"></div>
            <div class="submission-frame">
                <img class="pen" src="{% static 'inkfluence/img/pen.png' %}"/>
                <img class="pen-2" src="{% static 'inkfluence/img/pen-2.png' %}"/>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="post" action="{% url 'story_submission' %}">
                    {% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger" style="text-align: center; color: red; margin: 0 auto; width: 100%;">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="title-wrapper"><input class="input" placeholder="Title" type="text" name="title" required="true"/></div>
                    <div class="your-tile">Your Title</div>
                    <div class="overlap-group">
                        <select class="genre-tags-wrapper" name="genre" required="true">
                            <option value=" " disabled selected>Select your option</option>
                            <option value="FAN">Fantasy</option>
                            <option value="SCF">Sci-Fi</option>
                            <option value="ACT">Action & Adventure</option>
                            <option value="MYS">Mystery</option>
                            <option value="HOR">Horror</option>
                            <option value="THR">Thriller & Crime</option>
                            <option value="HIS">Historical Fiction</option>
                            <option value="ROM">Romance</option>
                            <option value="COM">Comedy</option>
                            <option value="YA">Young Adult</option>
                            <option value="CHI">Children</option>
                        </select>
                    </div>
                    <div class="text-wrapper-2">Genre Tags</div>
                    <div class="story-summary-frame"><textarea class="summary-input" placeholder="Description" type="text" name="description" required="true"></textarea></div>
                    <div class="story-summary">Story Summary (50 words)</div>
                    <div class="story-submission"><textarea class="story-input" placeholder="And so it begins..." type="text" name="content" required="true"></textarea></div>
                    <div class="story">Your Story</div>
                    <button class="submit-button"><div class="text-wrapper">Submit</div></button>
                </form>
                <div class="overlap-2">
                    <div class="share-your-story">Share Your Story!</div>
                    <div class="text-wrapper-3">Share Your Story!</div>
                </div>
            </div>
            <div class="naviation-bar">
            <div class="links"><a href="/inkfluence/home/" div class="link">Home</a></div>
            <div class="link2"><a href="/inkfluence/search/" div class="link">Search</a></div>
            <div class="link3"><a href="/inkfluence/submit/" class="link">Submit</a></div>
            <div class="logo">INKFLUENCE</div>
            <div class="overlap-8">
<!--              <div class="background"></div>-->
              <button id="logoutBtn" class="logout-button">
                <a href="{% url 'logout' %}"><div class="text-wrapper-15">Logout</div></a>
              </button>
              <div class="overlap-3">
                    <div class="background"></div>
                    <button id="profBtn" class="profile-button">
                        <div class="text-wrapper-4">Profile</div>
                    </button>
              </div></div>
          </div>
        </div>
    </div>
</div>
<script src="{% static 'inkfluence/js/navbar.js' %}"></script>
</body>
</html>